* {
	border: none;
	border-radius: 10px;
    font-family: "SauceCodePro Nerd Font";
	font-size: 15px;
	min-height: 10px;
	background-color: transparent;
}


window#waybar.hidden {
	opacity: 0.2;
}



#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
}


#workspaces button {
        padding: 0 0 0 0;
        margin: 4px 3px 6px 4px;
        background-color: transparent;
        color: #B5E8E0;
        min-width: 36px;
}

#workspaces button.active {
        border-top: 2px solid #05f07a;
        border-bottom: 2px solid #05f07a;
        border-left: 2px solid #05f07a;
        border-right: 2px solid #05f07a;
        min-width: 32px;
}

#workspaces button:hover {
        background-color: #ABE9B3;
        color: #000000;
}

#workspaces button.focused {
        background-color: #bbccdd;
        color: #323232;
}

#workspaces button.urgent {
        background-color: #64727D;
}


#workspaces {
        background-color: #0f0b0b;
        transition: none;
		border-top: 2px solid #ABE9B3;
        border-bottom: 2px solid #90c497;
        border-left: 2px solid #ABE9B3;
        border-right: 2px solid #ABE9B3;
        color: #B5E8E0;
}

.modules-left > widget:first-child > #workspaces {
        margin-left: 0;
}

.modules-right > widget:first-child > #workspaces {
        margin-right: 0;
}

#network, 
#bluetooth, 
#pulseaudio, 
#battery, 
#backlight, 
#clock,
#memory, 
#cpu,
#tray,
#custom-launcher, 
#custom-power,
#custom-wallpaper,
#custom-updates, 
#custom-media,
#custom-weather,
#custom-storage,
#custom-launcher, 
#custom-bgchange {
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 10px;
	transition: none;

	border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
    border-left: 2px solid #ABE9B3;
    border-right: 2px solid #ABE9B3;
	
	color: #ABE9B3;
	background-color: #0f0b0b;
	
}
